@model BlojayElectronics.Components.LoginStatusViewModel

@if (Model.IsLoggedIn)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Hello, @Model.CustomerName
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-page="/Account/Orders">My Orders</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" asp-page="/Account/Logout">Logout</a></li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-page="/Account/SignIn">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Account/SignUp">Sign Up</a>
    </li>
}