@page
@{
    ViewData["Title"] = "About Us";
}
<div class="container my-5">
    <h1>About BlojayElectronics</h1>
    <p>We are a leading electronics retailer in Rwanda, committed to providing the latest technology at affordable prices.</p>
</div>